<footer class="mt-6 text-center text-sm md:flex md:justify-between md:items-center">
  <div class="mt-6">
    <a href="index.html">
      <img src="./assets/images/logo.png" alt="Universitat Oberta de Catalunya"
        class="block mx-auto mb-6 max-w-[200px] md:mx-auto md:mb-0 md:w-40" />
    </a>
  </div>
  <div class="mb-4 md:mb-0">
    <nav class="mb-6 md:mb-0">
      <ul class="flex flex-wrap justify-center list-none p-0 md:flex-nowrap md:justify-center md:gap-8">
        <li class="w-full mb-2 md:w-auto md:mb-0">
          <a href="index.html" class="block text-uoc-corporate no-underline hover:text-bright transition">Home</a>
        </li>
        <li class="w-full mb-2 md:w-auto md:mb-0">
          <a href="content.html" class="block text-uoc-corporate no-underline hover:text-bright transition">Content</a>
        </li>
        <li class="w-full mb-2 md:w-auto md:mb-0">
          <a href="article.html" class="block text-uoc-corporate no-underline hover:text-bright transition">Article</a>
        </li>
        <li class="w-full md:w-auto">
          <a href="contact.html" class="block text-uoc-corporate no-underline hover:text-bright transition">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <p class="flex justify-center md:justify-end space-x-4">
      <a href="mailto:alfarosh@uoc.edu" class="text-inherit hover:text-bright transition">
        <i class="fa-brands fa-google-plus-g"></i>
      </a>
      <i class="fa-brands fa-facebook-f text-uoc-corporate hover:text-bright transition cursor-pointer"></i>
      <i class="fa-brands fa-twitter text-uoc-corporate hover:text-bright transition cursor-pointer"></i>
    </p>
  </div>
</footer>