
@use "sass:color";

@theme {
  --color-uoc-corporate: #000078;
  --color-uoc-masterbrand: #73edff;
  --color-uoc-bg: #d6faff;
  --color-grey: #333;
  --color-blue: #0066cc;
  --color-bright: #afc1db;
  --color-light-bg: #e0f7fa;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  --font-serif: "Georgia", "Times New Roman", serif;
  --mq-min-width: 455px;
  --breakpoint-sm: 455px
}